*.o
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-*

sysprof
sysprof-cli
testelf
testunwind

.*.sw?
.gdb_history
