visualizers.selection {
  background: none;
  background-color: alpha(@theme_selected_bg_color, 0.35);
  box-shadow: 0 0 0 1px @theme_selected_bg_color inset;
}
visualizers.selection:backdrop {
  background: none;
  background-color: alpha(@theme_selected_bg_color, 0.15);
  border: none;
}
visualizers list row:not(:first-child) {
  border-top: 1px solid alpha(@borders, 0.4);
}
