progresscell progress {
 background: @accent_bg_color;
 border-radius: 3px;
 border: 1px solid shade(@accent_bg_color, .75);
 border-right: none;
}

progresscell {
  min-height: 18px;
}

progresscell progress:backdrop {
 background: @borders;
 border-color: shade(@borders, .9);
}

progresscell trough {
 background: alpha(@borders, .5);
 border: 1px solid @borders;
 border-radius: 3px;
}

progresscell label {
 font-size: 0.9em;
 padding: 1px 3px;
 font-feature-settings: 'tnum';
}

progresscell label.in-progress {
 color: @accent_fg_color;
}

callgraphview {
  font-size: .9em;
}

callgraphview treeexpander indent { -gtk-icon-size: 8px; }
callgraphview treeexpander indent:nth-child(n+20) { -gtk-icon-size: 0px; }

callgraphview symbol {
  margin: -1px -3px;
  padding: 1px 6px;
}
callgraphview symbol.context-switch,
callgraphview symbol.process,
callgraphview symbol.thread,
callgraphview symbol.root,
callgraphview symbol.unwindable {
  font-weight: 600;
}
callgraphview row:not(:selected) treeexpander expander:checked+box symbol.process,
callgraphview row:not(:selected) treeexpander expander:checked+box symbol.thread,
callgraphview row:not(:selected) treeexpander expander:checked+box symbol.root {
  border-radius: 9999px;
  background-color: alpha(currentColor, .05);
}
callgraphview row:not(:selected) treeexpander symbol.context-switch {
  border-radius: 9999px;
  background-color: alpha(@warning_color, .1);
}
callgraphview row:not(:selected) treeexpander symbol.unwindable {
  border-radius: 9999px;
  background-color: alpha(@error_color, .1);
}

marktable {
  font-size: .9em;
}

markchart {
  font-size: .9em;
}

timeruler {
  font-size: 0.833em;
  color: alpha(currentColor, .8);
}

tracks track chart {
  margin-top: 1px;
}
tracks track info {
  background: alpha(@borders, .25);
}
tracks track info button {
  min-height: 0px;
  min-width: 0px;
}
tracks row {
  padding: 0;
  margin: 0;
}
tracks row track info {
  padding: 1px 0 0 0;
}
